@import "./mixins"

.logo
  float: left
  display: block
  background-image: url('./images/hw_logo_right.png')
  background-repeat: no-repeat
  background-size: cover
  margin: 1rem 0rem 1rem 0rem
  height: 45px;
  width: 225px;
  box-sizing: border-box

  +mobile-only()
    margin-left: 0rem

.navbar
  overflow: hidden
  background-color: #FFF
  position: fixed
  width: 100%
  z-index: 10

.navbar .icon
    float: left
    display: block
    color: #222
    text-align: center
    padding: 1.4rem 3rem
    text-decoration: none
    font-size: 2.2rem

.navbar a:not(:first-child):not(.icon)
    float: right
    display: block
    color: #222
    text-align: center
    padding: 1.4rem 3rem
    text-decoration: none
    font-size: 17px

.navbar a:hover
    font-weight: bold

.navbar .icon
    display: none

.navbar a:not(:first-child):not(.icon)
  +mobile-only()
    display: none

.navbar a.icon
  +mobile-only()
    float: right
    display: block

.navbar.responsive
  +mobile-only()
    position: fixed

.navbar.responsive .icon
  +mobile-only()
    position: absolute
    right: 0
    top: 0

.navbar.responsive a:not(:first-child)
  +mobile-only()
    clear: left
    float: none
    display: block
    text-align: left

.button
  border-radius: 10px

.section
  padding: 8rem 0 7rem
  text-align: center

  +phablet()
    padding: 12rem 0 11rem

  +tablet()
    padding: 14rem 0 15rem

  +desktop()
    padding: 20rem 0 19rem


.section-heading, .section-description
  margin-bottom: 1.2rem

  +tablet()
    max-width: 60%
    margin-left: auto
    margin-right: auto

.hero
  background-image: url("./images/hatchwatch_image_03.png")
  background-repeat: no-repeat
  background-size: cover
  color: white

  +phablet()
    padding-bottom: 12rem
    text-align: left
    height: 165px

  +tablet()
    height: 190px

  +desktop()
    padding: 22rem 0

.hero-heading
  +phablet()
    font-size: 2.4rem

  +tablet()
    font-size: 2.6rem

  +desktop()
    font-size: 3.0rem

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values
  padding-bottom: 5rem

.value-multiplier
  margin-bottom: .5rem
  color: #11DFC7

.value-heading
  margin-bottom: .3rem

.value-description
  opacity: .8
  font-weight: 300

.get-help
  border-bottom: 1px solid #ddd

.categories
  +tablet()
    padding: 15rem 0 8rem

.categories .section-description
  margin-bottom: 4rem
