mobile()
    @media (min-width: 400px)
        {block}

mobile-only()
    @media (max-width: 549px)
        {block}

phablet()
    @media (min-width: 550px)
        {block}

tablet()
    @media (min-width: 750px)
        {block}

desktop()
    @media (min-width: 1000px)
        {block}

hd()
    @media (min-width: 1200px)
        {block}
